# Executables
*.out
a.out
megaphone
phonebook
zombie
zombieHorde
refs
fight
# Object files
*.o
obj/

# Libraries
*.a

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Debug
*.dSYM/
*.d

# Logs
*.log

Account.hpp

# Test files
tester/
temp_*
tests.cpp

# 42 subject
*.pdf

cheatsheet.md