# Executables
*.out
a.out
megaphone
phonebook
zombie
zombieHorde
refs
fight
losers
harl
fixed
fixedFloat
fixedOps
# Object files
*.o
obj/
*.txt*
# Libraries
*.a

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Debug
*.dSYM/
*.d

# Logs
*.log

Account.hpp

# Test files
tester/
temp_*
tests.cpp

# 42 subject
*.pdf
